.profile-card {
  display: flex;
  flex-direction: row;
  padding: 80px;
}

.profile-image {
  width: 30%;
}

.content {
  width: 70%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left;
  font-size: 3vw;
  color: #ffc000;
  padding: 0px;
}

span {
  width: 70%;
  padding-top: 20px;
  padding-right: 10px;
}

.email {
  padding-top: 100px;
  color: blue;
  text-decoration: underline;
}